/* General styles */
body {
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    background-color: #111;
}

h1,
h2 {
    color: #fff;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px;
}

/* Registration container */
#user-registration-container,
#token-mining-container,
#news-container,
#mining-data-container,
#proof-of-work-container {
    background-color: #333;
    padding: 30px;
    margin-bottom: 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
}

label,
input {
    margin-bottom: 20px;
}

input,
button {
    height: 60px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

input {
    padding: 20px;
    background-color: #fff;
    color: #333;
}

button {
    padding: 0 30px;
    background-color: #f00;
    color: #fff;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
}

button:hover {
    background-color: #ff3d3d;
}

/* News container */
.news-item {
    margin-bottom: 30px;
}

.news-title {
    font-size: 36px;
    color: #fff;
    margin-bottom: 10px;
}

.news-source {
    font-size: 18px;
    color: #999;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 30px;
    }

    input,
button {
        height: 50px;
        font-size: 20px;
    }

    button {
        width: 100%;
    }
}
