cachetools==4.2.2
gspread==4.0.1
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-auth-httplib2==0.4.6
numpy==1.21.3
oauthlib==3.2.0
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
requests==2.26.0
urllib3==1.26.6
